@page
@model ProductsModel
@{
    ViewData["Title"] = "Products";
}
@section Scripts
{
  
}

<div class="text-center container">
    <div class="row">
        <a class="btn btn-primary" asp-page="./Product" asp-route-id="-1">Add New Product</a>
    </div>
    <div>
        <table id="productTable" class="table table-striped table-hover">
            <thead>
                <th>Name</th>
                <th>Description</th>
                <th>Average Purchase Price</th>
                <th>Average Sale Price</th>
                <th>Product Page</th>
            </thead>
            <tbody>
                @foreach (var product in Model.AllProducts)
                {
                    <tr>
                        <td>
                            @product.Name
                        </td>
                        <td>
                            @product.Description
                        </td>
                        <td>
                            @product.AvgPurchasePrice
                        </td>
                        <td>
                            @product.AvgSalePrice
                        </td>
                        <td>
                            <a asp-page="./Product" asp-route-id="@product.ProductId">View/edit</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
